body{
    overflow-x: hidden;
    background-color: black;
    font-feature-settings: "kern" 1, "liga" 1, "frac" 1, "lnum" 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a{
    text-decoration: none;
    font-family: 'Gugi'
}