.values{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 8em
}
.values h3{
    color: $blue;
    font-size: 1em;
    font-family: anvil3,sans-serif;
    font-weight: 600;
    padding-bottom: 2em
    
}
.values h2{
    font-size: 2em;
    color: $blue;
    font-family: anvil5,sans-serif;
    line-height: 1.5em;
    padding-bottom: 0.5em;
    letter-spacing: 2px
}
.values p{
    font-size: 1.3em;
    font-family: anvil2,sans-serif;
    font-weight: 200;
    color: #333;
    line-height: 1.5em;
    width: 50%;
    padding-bottom: 3em
}

///accordion

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    width: 40%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
    margin: 0 auto;
    padding: 1em 0;
    padding-left: 50px;
    border-top: 1px solid black;
    background-color: white;
    font-size: 1.1em;
    font-family: anvil5,sans-serif
}
.dash{
    height: 3px;
    width: 15px;
    background-color: black;
    position: absolute;
    top: 27px;
    left: 10px;
    transition: transform 0.3s ease
}
.dash2{
    transform: rotateZ(90deg)
}
.active-panel .dash2{
    transform: rotateZ(0deg)
}
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    width: 40%;
    margin: 0 auto;
    padding-left: 9em
}
.panel ul{
    text-align: left;
    padding: 1em 0;
    position: relative;
}
.panel ul li{
    list-style-type: disc;
    padding: 0.5em 0;
    font-size: 1em;
    font-family: anvil2,sans-serif;
    color: #333
}


@media only screen and (max-width:775px){
    .accordion{
        font-size: 1em
    }
    .panel{
        padding-left: 4em
    }
}
@media only screen and (max-width:650px){
    .values h2{
        font-size: 1.5em
    }
    .values p{
        font-size: 1em
    }
}
@media only screen and (max-width:47.777em){
    .panel{
        width: 60%
    }
    .accordion{
        width: 60%
    }
}