.business{
    height: 50em;
    background-image: linear-gradient(-45deg,#f2ece8,#fcfaf9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.business h3{
    color: $blue;
    font-size: 1em;
    font-family: anvil3,sans-serif;
    font-weight: 600;
    padding-bottom: 2em
    
}
.business .grid{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    grid-gap: 2em
}
.business .grid img{
    width: 100%
}
.overlay-container{
    position: relative
}
.overlay-container .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 99%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: anvil5,sans-serif;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.39)
}

.business .grid p.text{
    font-size: 1em;
    font-family: anvil2,sans-serif;
    font-weight: 200;
    color: #333;
    line-height: 1.5em;
    padding-right: 2em;
    padding-top: 2em
}

.business .link{
    color: #191919;
    font-style: italic;
    margin-top: 3em;
    display: inline-block;
    position: relative;
    font-weight: 600;
    font-family: anvil2,sans-serif;
    font-size: 0.9em
}

.business .link:after{
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    right: 0;
    background-color: black;
    transition: all 0.5s ease
}

.business .link:hover:after{
    width: 0;
}

@media only screen and (max-width:1200px){
    .overlay-container .overlay{
        font-size: 1.5em
    }
}
@media only screen and (max-width:1010px){
    .overlay-container .overlay{
        font-size: 1.2em
    }
}
@media only screen and (max-width:910px){
    .business .grid{
        grid-template-columns: 1fr
    }
    .business{
        height: auto;
        padding:5em 0
    }
}
@media only screen and (max-width:47.77em){
    .business .grid p.text{
        padding-right: 0;
        text-align: center
    }
   .business .grid .item{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center
   }
   .business .grid{
    width: 80%
   }
}