@font-face {
    font-family: Averta;
    src: url('../assets/fonts/blck.eot');
    src: url('../assets/fonts/blck.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/blck.woff2') format('woff2'),
        url('../assets/fonts/blck.woff') format('woff'),
        url('../assets/fonts/blck.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: Averta;
    src: url('../assets/fonts/bold.eot');
    src: url('../assets/fonts/bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/bold.woff2') format('woff2'),
        url('../assets/fonts/bold.woff') format('woff'),
        url('../assets/fonts/bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 10px;
    font-family: 'Averta', sans-serif;
    font-weight: 700;
}

html,
body {
    background-color: $pink;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none
}

.section-title {
    color: $white;
    text-align: center;
    font-size: 7rem;
    transform: scaleY(2);
    font-family: 'Averta', sans-serif;
    font-weight: 900;
    padding: 1em 0;
    text-transform: uppercase;
}

.background-txt {
    color: $darkPink;
    font-size: 15rem;
    transform: scaleY(2);
    font-family: 'Averta', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 0.05em
}

.link {
    padding: 0.5em;
}

@media only screen and (max-width: 1100px) {
    html {
        font-size: 8px
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 6px;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 3px
    }
}