.featuredImages {
    background-color: white;
    height: 150em;
    padding-top: 7em;
    position: relative;

    &__text {
        color: $lightGrey;
        font-family: 'Averta', sans-serif;
        font-size: 10rem;
        transform: scaleY(2) scaleX(1.2);
        font-weight: 900;
        position: absolute;
        top: 2.5em;
        right: -2.5em;
    }

    .vertical-photo {
        position: absolute;
        width: 40%;
    }

    .vertical-photo:nth-child(even),
    .h-photo:nth-child(even) {
        left: 5%;
    }

    .vertical-photo:nth-child(odd),
    .h-photo:nth-child(odd) {
        right: 5%;
    }

    #feat1 {
        top: 15em;
    }

    #feat2 {
        top: 70em
    }

    .h-photo {
        width: 65%;
        position: absolute;
    }

    #feat3 {
        top: 180em
    }
}