.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: $grey;
    padding-bottom: 0.5em;

    .omar-logo {
        color: $grey;
        text-decoration: underline
    }

    p:nth-child(2) {
        text-align: center;
    }

    background-color: white;
    font-size: 2rem;

    &__socials {
        ul {
            display: flex;
            justify-content: flex-end;

            a {
                margin-left: 1em;

                img {
                    height: 1em;
                }
            }
        }
    }
}