.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding-top: 2em;
    padding-left: 2em;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: $white;
            font-weight: 900;
            font-size: 2rem;
            margin-right: 1em;
            text-transform: uppercase;
        }
    }

    a.logo {
        img {
            width: 2em;
        }
    }
}