.transactions{
    height: 50em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transactions .wrapper{
    width: 80%;
    background-image: linear-gradient(-45deg,#011a65,#375676);
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.transactions h3{
    font-size: 1em;
    font-family: anvil3,sans-serif;
    font-weight: 600;
    padding-bottom: 1em;
    text-align: center
    
}
.transactions h2{
    font-size: 2em;
    font-family: anvil5,sans-serif;
    line-height: 1.5em;
    padding-bottom: 0.5em;
    letter-spacing: 2px
}
.transactions .wrapper .grid{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    text-align: center
}
.transactions .wrapper .grid p span{
    font-size: 3em;
    font-family: anvil4,sans-serif
}
.transactions .wrapper .grid p{
    font-size: 2em
}

.transactions .wrapper .grid p.text{
    font-size: 1em
}

@media only screen and (max-width:600px){
    .transactions h2{
        font-size: 1.2em;
        text-align: center
    }
    .transactions h3{
        font-size: 1em
    }
}
@media only screen and (max-width:500px){
    .transactions .wrapper .grid{
        grid-template-columns: 1fr;
    }
    .transactions{
        height: 30em
    }
}