.grid{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid .item{
    height: 10em;
    position: relative
}
.grid .item h2{
    font-size: 2.5em;
    color: white;
    padding: 1em;
    padding-left: 5em;
    position: relative
}
.grid .item h2:before{
    content: "";
    height: 2px;
    width: 150px;
    background-color: white;
    position: absolute;
    bottom: 35%;
    left: 0px;
}
.grid .item p{
    font-size: 2em;
    line-height: 1.5em;
    padding: 1.2em 0;
}
.big{
    height: 40em;
    position: relative
}
.grid .item h5{
    font-size: 3em;
    color: white;
    padding-right: 3em;
    padding-top: 1em;
    transition: all 0.4s ease
}
.grid .item a{
    text-decoration: none;
}
.grid .item a:hover h5{
    color: $yellow
}
.References-icon{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color:(#d8d0ca/2);
    font-size: 1.5em;
    font-weight: 100;
}
.References-icon h2{
    position: relative;
    bottom: 3em;
    right: 5em;
    letter-spacing: 1px
}
.References-icon h2:after{
    content: "";
    height: 2px;
    width: 70px;
    background-color: (#d8d0ca/2);
    position: absolute;
    transform: rotateZ(90deg);
    bottom: -37px;
    left: 0px
}
@media only screen and (max-width:47.777em){
    .grid{
        grid-template-columns: 1fr;
    }
    .big{
        height: 50em;
        position: relative
    }
    .big .item p{
        position: relative;
        bottom: 7em
    }
    .grid .item h5{
        font-size: 2em;
        color: white;
        padding-right: 0em;
        padding-top: 0em;
        transition: all 0.4s ease
    }
}