$width : 100%;
.hero{
    background-image: url('../images/hero.jpg');
    background-size: 100% 120%;
    background-position: top;
    height: 92vh;
    margin: 0 auto;
    width: 96%;
    margin-top: 2%
}