.investment{
    background-image: linear-gradient(-45deg,#f3f4f8,#fbfbfc);
    height: 40em;
    padding-top: 5em;
    box-sizing: border-box
}
.investment .grid{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    grid-gap: 0.5em;
    margin: 0 auto;
    margin-top: 3em
}
.investment h2{
    text-align: center;
    color: $blue;
    font-size: 1em;
    font-family: anvil1,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.investment .item h3{
    font-size: 2em;
    font-family: anvil2,sans-serif;
    text-align: center;
    padding: 1em;
    padding-top: 5em;
    color: $blue;
    transition: all 0.4s ease
}
.investment .item p{
    font-family: anvil2,sans-serif;
    color: $dark;
    padding: 1em 2em;
    text-align: center;
    font-weight: 500;
    transition: all 0.4s ease
}
.investment .item h5{
    display: block;
    font-family: anvil2,sans-serif;
    margin-top: 3em;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    color: #f3f4f8
}
 .investment .item{
    background-image: linear-gradient(-45deg,rgba(1,26,101,0.1),rgba(55,86,118,0.1));
    height: 30em;
    transition: all 0.4s ease
}
.investment .item:hover{
    background-image: linear-gradient(-45deg,rgba(1,26,101,1),rgba(55,86,118,1));
    transform: translateY(-20px)
}
.investment .item:hover h3,.investment .item:hover p{
    color: #f3f4f8
}
.investment .item:hover h5{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
    transition-delay: 0.4s
}
@media only screen and (min-width:48em){
    .investment{
        padding-top: 10em;
        height: 55em
    }
}
@media only screen and (max-width:60em){
    .investment .grid{
        grid-template-columns: 1fr 1fr;
    }
    .investment{
        height: auto
    }
}
@media only screen and (max-width:40em){
    .investment .grid{
        grid-template-columns: 1fr;
    }
    .investment .item h5{opacity: 1;color: $blue+20}
}

