$width : 100%;
header{
    width: 100%;
    height: 100vh;
    overflow: hidden
}
.hero{
    background-image: url('../images/hero.jpg');
    background-size: 100% 120%;
    background-position: top;
    height: 92vh;
    margin: 0 auto;
    width: 96%;
    margin-top: 2%;
    position: relative;
    position: fixed;
    left: 2%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box
}

header .overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4.5em;
    font-family: anvil2;
    letter-spacing: 2px;
    box-sizing: border-box
}
nav{
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    display: flex;
    z-index: 5;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    width: 87%;
    padding-top: 0.7em
}
nav ul li{
    padding: 0 1em;
    font-size: 1em;
    font-family: anvil1
}
nav .logo{
    font-family: anvil1;
    font-size: 1.5em;
    padding-left: 1em
}
nav ul li a{
    position: relative;
    overflow: hidden;
    padding-bottom: 4px;
    display: inline-block;
    color: white;
    //margin: 0 0.7em;
  }
  
  nav ul li a:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: -1px;
    bottom: 0px;
    transform: translate3d(-100%, 0, 0);
    transition: transform .2s ease-in;
  }
  nav ul li a:after{
      background-color: white
  }
  nav ul li a:hover:after,
  nav ul li a:focus:after,{
    transform: translate3d(0, 0, 0);
  }
  .current:after{
    transform: translate3d(0, 0, 0);
  }
  aside{
      position: absolute;
      right: 15px;
      bottom: 35%;
      transition: all 0.7s ease
  }
  aside ul li{
      list-style-type: none;
      text-align: right;
      font-family: anvil5;
      font-size: 0.7em;
      padding: 1em 0;
      position: relative;
      transition: all 0.7s ease
  }
  aside ul li:before{
      content: "";
      height: 1px;
      width: 10px;
      background-color: white;
      position: absolute;
      right: -20px;
      top: 50%;
      transition: all 0.7s ease
  }
  aside ul li a{
      filter: brightness(80%);
      transition: all 0.7s ease
  }
  aside ul li span{
      display: none
  }


  .aside-fixed{
      position: fixed;
      z-index: 999999999;
      right: 30px
  }
  aside ul{
      position: relative;
      z-index: 999999;
      display: block
  }

  .nav-fixed{
      position: fixed;
      top: 0px;
      padding: 1em 2em;
      min-height: 5em;
      border-bottom: 0.1px solid rgb(245, 245, 245);
      background-color: white;
  }
  .nav-fixed ul{
      width: 85%
  }
  .nav-fixed a{
    color: #191919
  }
  nav.nav-fixed ul li a:after{
    background-color: #191919
}
nav.aside-fixed ul li a:after{
    height: 2px;
  }

  .nav-none{
      display: none
  }
  .nav-btn{
      display: none
  }

  @media only screen and (max-width:49em){
      header .overlay{
          font-size: 2em;
          text-align: center
      }
      .hero{
          background-size: cover;
          background-position: center;
          width: 94%;
          //width: 100%;
          //left: 0;
          height: 97vh;
          //margin-top: 0;
      }
      nav .logo{
        font-size: 1.5em;
        padding-left: 0.5em;
    }
    nav.nav-fixed{
        padding: 0;
        padding-top: 0em
    }
    .nav-btn{
        display: block;
        height: 50px;
        width: 50px;
        position: fixed;
        right: 20px;
        top: 30px;
        z-index: 999999;
    }
    .btn-barl{
        width: 20px;
        height: 2px;
        background-color: #fff;
        position: relative;
        margin: 0.2em 0;
        transition: transform 0.2s ease
    }
    .btn-bars{
        width: 15px;
        height: 2px;
        background-color: #fff;
        position: relative;
        left: 5px;
        transition: transform 0.4s ease
    }
    .nav-fixed .btn-barl, .nav-fixed .btn-bars{
        background-color: #191919
    }
    .nav-fixed .nav-btn{
        top: 17px;
        right: 5px
    }
    .nav-fixed{
        min-height: 4em;
    }
    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        top: 0;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li a{
        color: #191919;
        align-items: center;
        justify-content: center;
        display: block;
        text-align: center;
        padding: 0.5em 0;
        font-size: 2em;
        font-family: anvil2,sans-serif
    }
    .logo{
        position: absolute;
        left: 10px;
        top: 20px
    }
    .nav-fixed .logo{
        top: 15px
    }
    nav ul{
        height: 0;
        overflow: hidden;
    }
    .close .btn-barl{
        transform: rotateZ(45deg) translateX(5px) translateY(2px);
        background-color: #191919
    }
    .close .btn-bars{
        opacity: 0;
    }
    .close .down{
        transform: rotateZ(-45deg) translateX(5px) translateY(-2.5px);
        background-color: #191919
    }
}


@media (min-width:675px) and(max-width:1300px){
    nav ul{
        width: 75%;
    }

}
@media (max-width:80em){
    aside{
        display: none !important;
    }

}

.aside-fixed .active span{
    display: inline;
}
.aside-fixed ul li.active:before{
  content: "";
  height: 1px;
  width: 15px;
  background-color: #191919;
  position: absolute;
  right: -20px;
  top: 50%;
  transition: all 0.5s ease
}
.aside-fixed .word{
  display: none;
  letter-spacing: 1px;
  font-size: 1.2em
}
.aside-fixed .active .word{
  display: initial;
  color: #191919;
}
.aside-fixed .active span{
  display: none
}
.aside-fixed ul li span{
    display: initial
}

.aside-fixed ul:hover .word{
    display: initial
}
.aside-fixed ul:hover span{
    display: none
}

.nav-fixed{
    min-height: 3em
}
@media only screen and (max-width:1170px){
    .nav-fixed ul{
        width: 75%
    }
}