.who{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 6em
}
.who .slider-container{
    position: relative;
    height: 60em
}
.who .slider-container img{
    height: 100%;
    padding-left: 10em
}
.slider-container #slider1,.slider-container #slider2,.slider-container #slider3{
    position: absolute;
    height: 45em;
    transition: all 1s ease;
    transition: opacity 0.7s ease;
    transition: transform 2s ease
}
///////////////////////////////////////////THE SLIDE SHOW THAT I AM FUCKING PROUD OF
.slide1{
    z-index: 3;
    transform: translateX(80px) scale(1);
    opacity: 1;
}
.slide2{
    z-index: 2;
    transform: translateX(40px) scale(0.9);
    opacity: 0.8
}
.slide3{
    z-index: 1;
    transform: translateX(0) scale(0.8);
    opacity: 0.6
}

///////

.who .text{
    padding-top: 12em;
    padding-right: 5em
}
.who .text h3{
    color: $blue;
    font-family: anvil1,sans-serif;
    padding-bottom: 2em
}
.who .text h2{
    font-size: 2em;
    color: $blue;
    font-family: anvil5,sans-serif;
    line-height: 1.5em;
    padding-bottom: 1em
}
.who .text p{
    font-size: 1.2em;
    color: $dark;
    font-family: anvil2,sans-serif;
    line-height: 1.5em;
    padding-bottom: 2em
}
.who .text a{
    color: $blue;
    font-style: italic;
    font-family: anvil2,sans-serif;
    font-size: 1em;
    display: inline-block;
    position: relative;
}
.who .text a:after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    right: 0;
    background-color: black;
    transition: all 0.3s ease
}

.who .text a:hover:after{
    width: 0;
}

.who .who1{
    display: none
}
.who1{
    text-align: center;
    color: $blue;
    font-family: anvil1,sans-serif;
    padding-bottom: 2em
}
@media only screen and (max-width:80em){
    .who .text {
        padding: 0;
        padding-left: 3em;
        padding-right: 1em
    }
    .who .slider-container img{
        padding-left: 1em
    }
}
@media only screen and (max-width:935px){
    .who{
        grid-template-columns: 1fr;
        height: 100em
    }
    .who .text{
        padding: 0em 5em
    }
    .who .slider-container img{
        padding: 0
    }
    .who .slider-container{
        width: 80%;
        margin: 0 auto
    }
}

@media only screen and (max-width:47.7777em){
    .who .slider-container{
        width: 90%;
        height: 20em
    }
    .slide1{
        transform: translateX(60px) scale(1);
    }
    .slide2{
        transform: translateX(30px) scale(0.9);
    }
    .slide3{
        transform: translateX(0) scale(0.8);
    }
    .who .slider-container img{
        height: 80%;
        width: 60%;
        margin: 0 auto
    }
    .who .who1{
        display: block
    }
    .who .who2{
        display: none
    }
}



