

// === nav-button modules === //

.nav-btn{
    background-color: #fff;
    border-radius: 0px;
    width: 60px;
    color: $grey
}


// === Background module === //

.bg-white{
    background-color: #fff
}