
// === Burger Menu style === //
.burger-menu{
    font-size: 1.1em;
    height: 100%;
    padding: 0.5em 1em;
    border-right: $nav-border;
    padding-right: 2.5em;
    .caret{
        color: rgb(0, 119, 255);
        font-size: 0.9em
    }
}


// === Navbar Style === //

.navbar{
    border-bottom: $nav-border;
    .navbar-collapse{
        height: 100% !important;
    }
}
// === Form === //
.search-form{
    width: 40%
}
.nav-search{
    border: 0;
    height: 100%;
    width: 100%;
    padding-left: 0;
}
.search-group{
    height: 100%;
    width: 100% !important;
}
.search-icon{
    border: 0;
    color: $grey;
    font-size: 1.2em;
    padding-right: 0.3em;
    padding-left: 2em
}


// === Group buttons === //
.meatballs{
    border-left: $nav-border;
    padding-top: 0.4em;
    padding-left: 1.3em;
    .middle-meatballs{
        margin: -17.5px 0;
    }
}
.calender{
    font-size: 1.2em
}
.calender-btn{
    border-left: $nav-border;
}
.user{
    font-size: 1.2em
}
.btn-group{
    .btn{
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        &:hover{
                background-color: $Shakespeare;
                color: #fff;
        }
    }
}