.active{
    background-color: $Oxford-Blue/1.6;
    color: #fff !important;
    &:before{
        content: "";
        background-color: rgb(45, 45, 255);
        height: 100%;
        width: 5px;
        position: absolute;
        left: 0px;
        top: 0;
    }
}

.open{
    margin-left: 15em
}